body {
  font-family: 'BIZ UDPGothic', sans-serif;
  color:rgb(17, 13, 13);
  font-size: 16px;
  margin: 16px auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

hr.solid {
    border-top: 1px solid rgb(0, 0, 0);
    width: 900px;
  }
  
ul.horizontal-list {
  list-style: none;
  display: table;
  margin: 0 auto;
}

ul.horizontal-list li {
  display: inline-block;
  min-width: 15rem;
  text-align: center;
  margin-right: 30px;
  font-size: 20px;
}

a {
  color:rgb(17, 13, 13);
}

a:hover {
  color:rgb(17, 13, 13);
}

a:active {
  color:rgb(17, 13, 13);
}


#Sale {
  color:rgb(225, 63, 52);
} 

#Sale:hover {
  color:rgb(133, 26, 26);
}

#Sale:active {
  color:rgb(133, 26, 26);
}

.logo {
    padding-top: 50px;
    padding-bottom:16px;
    padding-left:20px;
    text-align: center;
    }

h1{
      font-size: 48px;
      font-weight: normal;
    }

    .card{
      margin-left: 120px;
      margin-top: 48px;
      margin-right: 250px;
      background-color: #fceee3;
      height: 307px;
      width: 900px;
      color:rgb(74, 49, 45);
    }
  
    .card-img-top{
      float: right;
      margin-right: 20px;
      width: 270px;
      height: 307px;
     
    }
  
    .card-title{
     
      text-align: left;
      font-size: 48px;
      height: 105px;
      width: 598px;
      padding-top: 40px;
      
       
    }
    .card-text{
      height: 30px;
      width: 257px;
      font-size: 30px;
      padding-top: 90px;
      color:rgb(189, 72, 59);
      
    }
   
   .card-body{
    padding-left: 25px;
      
   }
  

/*
.container {
      width:80%;
      max-width:860px;
  }
*/

footer {
  padding-top: 5px;
  padding-bottom: 16px;
  padding-left: 16px;
  text-align: center;
  margin-top: auto;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(top, rgb(255, 0, 0) 0%, rgb(255, 0, 0) 35%, rgb(255, 0, 0) 35%, rgb(255, 1, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(35%, rgb(255, 0, 0)), color-stop(35%, rgb(255, 0, 0)), color-stop(100%, rgb(255, 0, 0)));
  background: -webkit-linear-gradient(top, rgb(255, 0, 0) 0%, rgba(255,255,255,1) 35%, rgba(0,0,0,1) 35%, rgb(255, 0, 0) 100%);
  background: -o-linear-gradient(top, rgb(209, 7, 7) 0%, rgb(3, 104, 255) 35%, rgba(0,0,0,1) 35%, rgb(255, 255, 255) 100%);
  background: -ms-linear-gradient(top, rgb(255, 9, 9) 0%, rgb(255, 1, 179) 35%, rgb(255, 255, 255) 35%, rgb(255, 255, 255) 100%);
  background: linear-gradient(to bottom, rgb(255, 0, 0) 85%, rgb(255, 0, 0) 35%, rgb(0, 0, 0) 60%, rgb(0, 0, 0) 100%);
  
  
}










