footer {
  background-color: aqua;
  padding-top: 46px;
  padding-bottom: 46px;
  padding-left: 16px;
  text-align: center;
  
}

.copyright {
  background-color: beige;
  padding-top: 16px;
  padding-bottom: 16px;
  
}


.makeyear {
font-size: 16px;
padding-left: 16px;

}


.website {
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 4px;
  margin-top: -1px;
  float: right;
  position: relative;
  bottom: 15px;
  font-size: 36px;
  background-color: darkslateblue;
  
  
  
}





















