h1 {
    text-align: center;
    background-color: beige;
    
    

}
    
    


hr.solid {
    border-top: 3px solid rgb(0, 0, 0);
    
  }

  button{
    border: none; 
    color: white; 
    padding: 14px 28px;
    cursor: pointer; 
    background-color: #e9eaed;
  }

  button:hover{
    background-color: #eccf9f;
    border-radius: 5px;
    
  }

