body {
    font-family: 'BIZ UDPGothic', sans-serif;
    color:rgb(17, 13, 13);
    font-size: 16px;
    margin: 16px auto;
  }
  
  hr.solid {
      border-top: 1px solid rgb(0, 0, 0);
      width: 900px;
    }
    
  ul.horizontal-list {
    list-style: none;
    display: table;
    margin: 0 auto;
  }
  
  ul.horizontal-list li {
    display: inline-block;
    min-width: 15rem;
    text-align: center;
    margin-right: 30px;
    font-size: 20px;
  }
  
  a {
    color:rgb(17, 13, 13);
  }
  
  a:hover {
    color:rgb(17, 13, 13);
  }
  
  a:active {
    color:rgb(17, 13, 13);
  }
  
  
  #Sale {
    color:rgb(225, 63, 52);
  } 
  
  #Sale:hover {
    color:rgb(133, 26, 26);
  }
  
  #Sale:active {
    color:rgb(133, 26, 26);
  }
  
  .logo {
      padding-top: 50px;
      padding-bottom:16px;
      padding-left:20px;
      text-align: center;
      }
  
  h1{
        font-size: 48px;
        font-weight: normal;
      }
  
      .card{
        margin-left: 120px;
        margin-top: 20px;
        margin-right: 250px;
        background-color: #fceee3;
        height: 180px;
        width: 900px;
        color:rgb(74, 49, 45);
        font-weight: normal;
        margin-bottom: 60px;
      }
    
      .card-title{
        text-align: center;
        margin: 0 auto;
        font-size: 48px;
        height: 105px;
        width: 598px;
        padding-top: 30px;
        
         
      }
      .card-text{
        text-align: center;
        margin: 0 auto;
        font-size: 30px;
        color:rgb(189, 72, 59);
        
      }
     
     .card-body{
      margin: 0 auto;
     }
    
  
  /*
  .container {
        width:80%;
        max-width:860px;
    }
  */
  
  .clothes-names{
    padding-left: 70px;
    display: grid;
    grid-template-columns: 250px 300px 300px;
    gap: 75px;
    margin: 0 auto;
    width: 760px;
    height: auto;
    padding-bottom: 60px;

  }

  .clothing-name{
    text-align: center;
    padding-top: 10px;
    margin: 0 auto;
    background-color: #fceee3;
    height: 60px;
    width: 250px;
    transition-duration: 0.4s;
    font-size:30px;
  }

  .clothing-name:hover{
    background-color:#f0cbac;
    border-radius:10px;
    text-decoration: underline;
}

  .clothing-name:active{
    background-color:#f0cbac;
    transform: translateY(2px);
    transition-duration: 0.01s;
    text-decoration: underline;
}
  
  .clothing{
    background-color: #fceee3;
    height: 250px;
    width: 250px;
    transition-duration: 0.4s;
  }
  
  .clothes{
    padding-left: 70px;
    display: grid;
    grid-template-columns: 250px 300px 300px;
    gap: 100px;
    margin: 0 auto;
    width: 760px;
    height: auto;
    padding-bottom: 60px;
  }
  
  .clothing:hover{
      background-color:#f0cbac;
      border-radius:10px;
  }
  
  .clothign:active{
      background-color:#f0cbac;
      transform: translateY(2px);
      transition-duration: 0.01s;
  }
  
  .clothes-img{
    float: center;
    margin: 0 auto;
    margin-left: 11px;
    width: 239px;
    height: auto;
  }
  
  footer {
    background-color: aqua;
    padding-top: 46px;
    padding-bottom: 46px;
    padding-left: 16px;
    text-align: center;
    
  }
  
  .copyright {
    background-color: red;
    padding-top: 16px;
    padding-bottom: 16px;
    
  }
  
  
  .makeyear {
  font-size: 16px;
  padding-left: 16px;
  
  }
  
  
  .website {
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 4px;
    margin-top: -1px;
    float: right;
    position: relative;
    bottom: 15px;
    font-size: 36px;
    background-color: darkslateblue;
    
    
    
  }
  
  